@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: aquamarine;
}
.start-btn, .info-box, .quiz-box, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 4px 8px  rgba(0, 0, 0, 0.2), 
    1px 6px 20px rgba(0, 0, 0, 0.19);
}
.info-box.activeInfo,
.quiz-box.activeQuiz,
.result-box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: bisque;
    cursor: pointer;

}
.start-btn button:hover{
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
    box-shadow: 3px 3px 12px black;
}
.info-box{
    width: 540px;
    background: bisque;
    color: black;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(146, 146, 146);
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
}
.info-list{
    padding: 25px 30px;
}
.info{
    margin: 5px auto;
    font-size: 17px;
}
.info span{
    font-weight: 600;
    color:#ff0000;
}
.info-box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid  rgb(146, 146, 146);
}
.info-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    color: blue;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.quiz-box{
    width: 550px;
    background: bisque;
    color: black;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.quiz-box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: bisque;
    color: black;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
    user-select: none;
}
.timer{
    color: #b70000;
    background: rgb(204, 229, 255);
    border: 1px solid rgb(184, 218, 255);
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}
.timer-txt{
    font-weight: 500;
    font-size: 17px;
    user-select: none;
}
.timer-sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: whitesmoke;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: rgb(52, 58, 64);
    user-select: none;
}
.time-line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background-color: red;
}
section{
    padding: 25px 30px 20px 30px;
    background: bisque;
}
.questions{
    font-size: 25px;
    font-weight: 600;
}
.option-list{
    padding: 20px 0px;
    display: block;
}
.option{
    background: rgb(251, 253, 255);
    border: 1px solid #2803fb;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.option:last-child{
    margin-bottom: 0px;
}
.option:hover{
    color: #2803fb;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
.option.correct{
    color: #0f5e21;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
.option.incorrect{
    color: #65171f;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.option.disabled{
    pointer-events: none;
}
.option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option .icon.tick{
    color: #0f5e21;
    border-color: #0f5e21;
    background: #9bf3af;
}
.option .icon.cross{
    color: #a42834;
    background: #f8c0c5;
    border-color: #a42834;
}
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid  rgb(146, 146, 146);
}
.total-que span{
    display: flex;
    user-select: none;
}
.total-que span p{
    font-weight: 500;
    padding: 0 5px;
}
.total-que span p:first-child{
    padding-left: 0px;
}
footer button{
    height: 40px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
    background: whitesmoke;
    border: 1px solid #2200ff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    color: whitesmoke;
    background: #007bff;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result-box{
    background: bisque;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.result-box .icon{
    font-size: 60px;
    color: rgb(46, 167, 64);
    margin-bottom: 10px;
}
.result-txt{
    font-size: 20px;
    font-weight: 500;
}
.score-txt span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.score-txt span p{
    padding: 0 4px;
    font-weight: 600;
}

.result-box .buttons{
    display: flex;
    margin: 20px 0;
}
.result-box button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #0800ff;
    transition: all 0.3s ease;
}
.restart{
    background: bisque;
}
.info-box button:hover{
    color:whitesmoke;
    background: #007bff;
    border: 2px solid #007bff;
}
.quit{
    color: rgb(255, 5, 5);
    background: bisque;
}
.quit:hover{
    color: whitesmoke;
    background: #007bff;
}
